.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #344a4e;
  color: white;
}

.nav-links{
  width: 40%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  list-style: none;
}

nav .h3-link {
  text-decoration: none;
}
